/*Start Variables*/
:root {
    --h-body: 0;
    --s-body: 0%;
    --l-body: 10%;
    --h-primary: 0;
    --s-primary: 100%;
    --l-primary: 40%;
    --body: hsl(var(--h-body), var(--s-body), var(--l-body));
    --body-10: hsl(var(--h-body), var(--s-body), 10%);
    --body-30: hsl(var(--h-body), var(--s-body), 30%);
    --body-40: hsl(var(--h-body), var(--s-body), 40%);
    --body-85: hsl(var(--h-body), var(--s-body), 85%);
    --body-95: hsl(var(--h-body), var(--s-body), 95%);
    --primary: hsl(var(--h-primary), var(--s-primary), var(--l-primary));
    --primary-50: hsl(var(--h-primary), var(--s-primary), 50%);
    --white: hsl(0, 0%, 100%);
    --fs-icon: 15px;
    --fs-label: 16px;
    --fs-title: 22px;
    --shadow-color: hsla(var(--h-body), var(--s-body), 10%, 0.5);
    --3s-transition: 0.3s;
}
/*End Variables*/

/*Start Global Ruls*/
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    --webkit-scroll-behavior: smooth;
    --moz-scroll-behavior:smooth;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background: var(--body-95);
    color: var(--body-10);

}
.container {
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    color: var(--body-10);
}
.section-title {
    text-align: center;
    padding: 10px;
}
/*End Global Ruls*/
/*Start Header*/
header {
    background: var(--white);
    color: var(--body-10);
    min-height: 150px;
    position: relative;
    padding: 15px;
    z-index: 10;
}
header .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.main-header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
header .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    height: 70px;
}
header .logo h1 {
    /* display: block; */
    font-size: var(--fs-label);
    text-transform: uppercase;
}
header .logo img {
    width: 50px;
    border-radius: 50%;
    border: 3px solid rgb(255, 102, 0);
}
header form {
    height: 70px;
    order: 3;
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 35px;
}
header input {
    height: 40px;
    margin-right: 0;
    outline: none;
    padding: 6px;
    border: 1px solid hsl(var(--h-body), var(--s-body), 85%);
    border-right: none;
    width: 100%;
    font-size: var(--fs-label);
    color: var(--body-10);
    border-radius: 5px 0 0 5px;
}
header input::placeholder {
    font-size: var(--fs-label);
}
header input:focus {
    border: 2px solid var(--body-40);
}
header .btn-search {
    height: 40px;
    border-left: none;
    background-color: var(--white);
    outline: none;
    border: 1px solid var(--body-85);
    font-size: var(--fs-icon);
    border-radius: 0 5px 5px 0;
}
header .header-icons {
    height: 70px;
    display: flex;
    align-items: center;
    gap: 15px;
}
header .header-icons i {
    font-size: calc(var(--fs-icon) + 3px);
    color: var(--body-30);
}
header .btn-search i,
.header-icons .location,
.header-icons .user,
.header-icons .cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}
.header-icons span {
    display: none;
    font-size: var(--fs-label);
}
.header-icons .bars{
    display: block;
    background-color: var(--white);
    border: none;
}
.header-icons .location:hover span,
.header-icons .user:hover span,
.header-icons .cart:hover span,
.header-icons .location:focus span,
.header-icons .user:focus span,
.header-icons .cart:focus span {
    text-decoration: underline;
}
@media (min-width: 768px) {
    header .header-icons i {
        font-size: calc(var(--fs-icon) + 3px);
    }
}
@media (min-width: 990px) {
    header .main-header {
        flex-wrap: nowrap;
    }
    header .logo h1 {
        font-size: var(--fs-title);
    }
    header .logo img {
        width: 70px;
    }
    header form {
        order: 0;
        width: auto;
        margin-top: 0;
        margin-bottom: 0;
    }
    header input {
        width: 350px;
    }
    header .header-icons {
        gap: 30px;
    }
    .header-icons .bars {
        display: none;
    }
}
@media (min-width: 1200px) {
    .header-icons span {
        display: block;
    }
    
}
/*End Header*/
/*Start Navbar*/
.links {
    display: none;
    background-color: var(--white);
    padding-top: 10px;
}
.links ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 35px;
}
.links ul li {
    position: relative;
}
.links ul li a {
    color: var(--body-40);
    font-size: var(--fs-label);
    transition: color var(--3s-transition) ease;
}
.links ul li a:hover,
.links ul li a:focus {
    color: var(--body-10);
    text-decoration: underline;
}
.links .only-red a{
    color: var(--primary);
}
/*Burger icon is clicked?*/
.links.open {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    min-width: 100%;
    padding: 15px 15px 15px 50px;
    box-shadow: 0 20px 20px var(--shadow-color);
}
.links.open ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
/*End Navbar*/
/* Start Sub-Links */
.sub-links {
    display: flex;
    opacity: 0;
    visibility: hidden;/*weil opacity es unsichtbar macht, aber es bleibt immerhin kilckbar*/
    pointer-events: none;
    transition: opacity 0.2s ease, visibility 0.2s ease;
    gap: 20px;
    padding: 20px;
    position: absolute;
    z-index: 3;
    background-color: white;
    box-shadow: 0px 20px 20px var(--shadow-color);
    top: 100%;
    left: 0;
    max-width: calc(100vw - 30px);
    flex-wrap: wrap;
}
.sub-links ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.sub-links ul li {
    font-size: var(--fs-label);
}
.sub-links ul li a {
    color: var(--body-40);
    transition: color var(--3s-transition) ease;
}           
.sub-links ul li:first-child a{
    font-size: calc(var(--fs-label) + 1px);
    font-weight: 600;
    color: var(--body-30);
}
.sub-links ul li:last-child {
    margin-bottom: 25px;
}
.sub-links ul li a:hover,           
.sub-links ul li a:focus {
    text-decoration: underline;                                                 
    color: var(--body-10);
}
.links ul .kameras:hover .sub-links,
.links ul .kameras:focus-within .sub-links{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;

}
@media  (min-width: 990px) {
    .links {
        display: block;
    }
    .links.open {
        display: none;
    }
}
@media (min-width: 990px) {
    .sub-links {
        justify-content: flex-start;
        width: 900px;
    }
    .sub-links ul{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .sub-links ul li:last-child {
        margin-bottom: 0px;
    }
}
@media (min-width: 1200px) {
    .sub-links {
        justify-content: flex-start;
        gap: 70px;
        width: 1100px;
    }
}
/* End Sub-Links */
/* Start Carousel */
.carousel {
    width: 100vw;
    height: 450px;
    position: relative;
    overflow: hidden;
    display: none;
}
.carousel .carousel-inner {
    width: 100%;
    height: 100%;
    position: relative;
}
.carousel .carousel-inner .carousel-item {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}
.carousel .carousel-inner .carousel-item img {
    width: 100%;
    height: 450px;
    object-fit: cover;
    object-position: top;
}
.carousel .carousel-inner .carousel-item.active {
    opacity: 1;
    visibility: visible;
}
.ds-none {
    display: none;
}
.carousel-prev,
.carousel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    font-size: 24px;
    background: var(--primary);
    color: var(--white);
    cursor: pointer;
    z-index: 2;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: var(--3s-transition) ease;
}
.carousel-prev {left: -50px;}
.carousel-next {right: -50px;}
.carousel:hover .carousel-prev {left: 15px;}
.carousel:hover .carousel-next {right: 15px;}
.carousel-dots {
    position: absolute;
    display: flex;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    gap: 8px;
    z-index: 2;
}
.carousel-dots .dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}
.carousel-dots .dot.active {
    background-color: var(--primary-50);
}
@media (min-width: 768px) {
    .carousel {
        display: flex;
    }
}
/* End Carousel */
/* Start Main */
.main-content .top-categ {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    gap: 15px;
    text-align: center;
}
.main-content .category {
    width: 100%;
    height: 310px;
    background-color: var(--white);
    border: none;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    transition: var(--3s-transition) ease;
}
.main-content .category a {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.main-content .category img {
    height: 215px;
    width: 215px;    
    padding: 15px;
    margin-bottom: 10px;
    object-fit: contain;
}
.main-content .top-categ .category h3 {
    font-size: var(--fs-label);
}
.main-content .category:hover,
.main-content .category:focus {
    box-shadow: 0px 0px 8px var(--shadow-color);
}
/* End Main */