/*Start Variables*/
:root {
    --h-body: 0;
    --s-body: 0%;
    --l-body: 10%;
    --h-primary: 0;
    --s-primary: 100%;
    --l-primary: 40%;
    --body: hsl(var(--h-body), var(--s-body), var(--l-body));
    --body-10: hsl(var(--h-body), var(--s-body), 10%);
    --body-30: hsl(var(--h-body), var(--s-body), 30%);
    --body-40: hsl(var(--h-body), var(--s-body), 40%);
    --body-85: hsl(var(--h-body), var(--s-body), 85%);
    --body-95: hsl(var(--h-body), var(--s-body), 95%);
    --primary: hsl(var(--h-primary), var(--s-primary), var(--l-primary));
    --primary-50: hsl(var(--h-primary), var(--s-primary), 50%);
    --white: hsl(0, 0%, 100%);
    --fs-icon: 14px;
    --fs-label: 15px;
}
/*End Variables*/

/*Start Global Ruls*/
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    --webkit-scroll-behavior: smooth;
    --moz-scroll-behavior:smooth;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background: var(--body-95);
    color: var(--body-10);

}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    color: var(--body-10);
}

/*Mobile*/
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/*Tablet*/
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/*Desktop*/
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/*End Global Ruls*/

/*Start Header*/
header {
    background: var(--white);
    color: var(--body-10);
    min-height: 120px;
}
header .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
header .logo img {
    width: 100px;
    border-radius: 50%;
}
header form {
    order: 3;
    display: flex;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
header input {
    /* width: 350px; */
    height: 40px;
    margin-right: 0;
    outline: none;
    padding: 8px;
    border: 1px solid hsl(var(--h-body), var(--s-body), 85%);
    border-right: none;
    width: 100%;
}
@media (min-width: 768px) {
    header .container {
        flex-wrap: nowrap;
    }
    header form {
        order: 0;
        width: auto;
        margin-top: 0;
    }
    header input {
        width: 350px;
    }
}
header input::placeholder {
    font-size: var(--fs-label);
}
header input:focus {
    border: 2px solid var(--body-85);
}
header .btn-search {
    height: 40px;
    border-left: none;
    background-color: var(--white);
    outline: none;
    border: 1px solid var(--body-85);
    font-size: var(--fs-icon);
}
header .header-icons {
    height: 100px;
    display: flex;
    align-items: center;
    gap: 25px;
}
header .header-icons i {
    font-size: var(--fs-icon);
        color: var(--body-30);
}
header .btn-search i,
.header-icons .location,
.header-icons .user,
.header-icons .cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}
.header-icons span {
    font-size: var(--fs-label);
}
.header-icons .location:hover span,
.header-icons .user:hover span,
.header-icons .cart:hover span,
.header-icons .location:focus span,
.header-icons .user:focus span,
.header-icons .cart:focus span {
    text-decoration: underline;
}
/*End Header*/
/*Start Navbar*/
.links {
    background-color: var(--body-85);
    padding: 15px;
}
.links ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}
.links ul li a {
    color: var(--body-40);
    font-size: var(--fs-label);
    transition: color 0.3s ease;
}
.links ul li a:hover,
.links ul li a:focus {
    color: var(--body-10);
    text-decoration: underline;
}
.links ul li:last-child a{
    color: var(--primary);
}

/*End Navbar*/
